[submodule "3rdparty/wslay"]
	path = 3rdparty/wslay
	url = https://github.com/tatsuhiro-t/wslay.git
[submodule "3rdparty/uriparser"]
	path = 3rdparty/uriparser
	url = https://github.com/uriparser/uriparser.git
